* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vx;
    /* 高度为100%窗口高度 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 上面两个属性是让body里面的子类居中 */
    background-color: #1d1928;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border-radius: 20px;
    background-color: #4471a3;
    box-shadow: 15px 15px 10px rgba(33, 45, 58, 0.3);
    overflow: hidden;
    position: relative;
    margin-top: 100px;
}
.container form {
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.container form .tbx {
    width: 250px;
    height: 40px;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 15px;
    color: #fff;
    background: none;
}
.container form .tbx::placeholder {
    color: #fff;
    font-size: 15px;
}
/* 设置文本框提示文本的样式 */

.container form .sub {
    width: 250px;
    height: 40px;
    outline: none;
    border: 1px solid #fff;
    border-radius: 20px;
    /* 圆角边框 */
    letter-spacing: 5px;
    color: #fff;
    background: none;
    cursor: pointer;
    /* 鼠标变手 */
    margin-top: 20px;
}
.container h1 {
    color: #ecf0f1;
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: 100;
    text-shadow: 5px 5px 5px rgba(33, 45, 58, 0.3);
    z-index: 1;
}

/* 鼠标进入 */
.container .in {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #cf455f;
    transform: translate(-50%,-50%);
    animation: in 0.5s ease-out forwards;
}
/* 鼠标离开 */
.container .out {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    background: #cf455f;
    transform: translate(-50%,-50%);
    animation: out 0.5s ease-out forwards;
}

@keyframes in {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 1200px;
        height: 1200px;
    }
    
}
@keyframes out {
    0% {
        width: 1200px;
        height: 1200px;
    }
    100% {
        width: 0;
        height: 0;
    }
    
}